@CHARSET "ISO-8859-1";
.header{
	width:	1920px;
	height: 90px;
	background-color:#090D23;
	position:absolute;
	top: 0;
    left: 0%;
    
}
#frames{
	width: 1950px;
}

#headerTable{
	/*align-self:center;*/
	float: left;
	z-index: 5;`	
}
body {
  font-family: Arial;
}

td:empty {
    width: 1200px;
}
td{
padding-right: 30px;	
}
#clearbutton{
	height: 30px;
	width: 80px;
	border-radius: 30px;
	background-color:#4F6877;
	border:SlateGray;
	color:white;
}
#clearbutton:hover{
	background-color:#981B46;
	border:#F796CF;
	color:#FFFFFF;
	cursor:pointer;
}
#companyButton{
	
	border-radius: 20px;
	
	font-size: 120%;
	
}

tr.companyRow > td
{
  padding-bottom: 1em;
}

#textarea{
	
	height: 40px;
	width: 300px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
	color: #981B46;

}
.active { 
	background:#981B46;
	border:#F796CF;
	color:#FFFFFF;

}
  #slider {
	  
    position: absolute; 
	top:   810px;
	width	: 1920px;
	height	: 120px;
}						

 #filterDiv{
	width: 300px;
	height: 780;
	background-color:#686590;
	border-radius: 10px; 
	
 }
 #map{
	 padding:0;
	 margin:0;
	 
 }
::-webkit-input-placeholder {
   color: #981B46;
}

:-moz-placeholder { /* Firefox 18- */
   color: #981B46;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #981B46;  
}

:-ms-input-placeholder {  
   color: #981B46;  
}

AndaleMono, monospace;
  color: #fff;
  padding: 50px;
  width: 300px;
  margin: 0 auto;
  background-color: #374954;
}

.dropdown {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  font-family:  Open Sans;
}

a {
  color: #fff;
}

.dropdown dd,
.dropdown dt {
  margin: 0px;
  padding: 0px;
}

.dropdown ul {
  margin: -1px 0 0 0;
}

.dropdown dd {
  position: relative;
}

.dropdown a,
.dropdown a:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 20px;
}

.dropdown dt a {
  background-color: #4F6877;
  display: block;
  padding: 8px 20px 5px 10px;
  min-height: 25px;
  line-height: 24px;
  overflow: hidden;
  border: 0;
  width: 220px;
}
.dropdown dt a:hover{
	background-color:#981B46;
	border:#F796CF;
	color:#FFFFFF;
	cursor:pointer;
}

.dropdown dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}

.dropdown dd ul {
  background-color: #4F6877;
  border: 0;
  color: #fff;
  display: none;
  left: 0px;
  padding: 2px 15px 2px 5px;
  position: absolute;
  top: 2px;
  width: 220px;
  list-style: none;
  height: 100px;
  overflow: auto;
  z-index: 5;
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
}

.dropdown dd ul li a:hover {
  background-color: #fff;
}